<div class="theme-name-footer">
  <p>Zen {{t "by"}} <a href="https://spookthemes.com/" title="{{t "Go to"}} SpookThemes" target="_blank" rel="noopener noreferrer">SpookThemes</a></p>
</div>

<div class="row">
    <a href="{{@site.url}}/rss" title="RSS"><i class="fas fa-rss-square"></i></a>
    {{#if @site.twitter}}
      <a href="https://twitter.com/{{@site.twitter}}" target="_blank" rel="noopener noreferrer" title="{{t "Go to"}} {{@site.twitter}}'s Twitter"><i class="fab fa-twitter-square"></i></a>
    {{/if}}  
    {{#if @site.facebook}}
      <a href="https://facebook.com/{{@site.facebook}}" target="_blank" rel="noopener noreferrer" title="{{t "Go to"}} {{@site.facebook}}'s Facebook"><i class="fab fa-facebook-square"></i></a>
    {{/if}}  
</div>


