<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  <title>{{meta_title}}</title>
  {{! Document Settings }}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  {{! Responsive Meta Tags }}
  <!-- own stylesheet for general stuff -->
  <link rel="stylesheet" href="{{asset "css/style.css"}}">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body>
  <!-- main navigation -->
  {{navigation}}
  <main class="{{body_class}}">
    <div class="container-fluid">

      {{#is "tag"}}
      <div class="tag_head_wrap">
        {{#tag}}
        <div class="tag_heading text-center">
          <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}" alt="{{name}}" title="{{name}}" class="tag-image" />
          <p class="posttitle">{{name}}</p>
        </div>
        {{/tag}}
      </div>
      {{/is}}

      {{#is "home"}}
      {{> 'post/card-featured'}}
      {{/is}}

      <div class="row">

        {{{body}}}

      </div>
        <footer class="page-footer">
          {{> 'ui/footer'}}
        </footer>
    </div><!-- container fluid END! -->
  </main>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>
  <!-- JavaScript and dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"
    integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Merriweather+Sans', 'Hind+Madurai', 'Roboto+Slab']
      }
    });
  </script>
  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
  </script>
  {{ghost_foot}}
</body>

</html>