<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
  <title>{{meta_title}}</title>
  {{! Document Settings }}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  {{! Responsive Meta Tags }}
  <!-- own stylesheet for general stuff -->
  <link rel="stylesheet" href="{{asset "css/style.css"}}">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body>
  <!-- main navigation -->
  {{navigation}}
  <main class="{{body_class}}">
    <div class="container-fluid">

      {{#is "tag"}}
      <div class="tag_head_wrap w-100">
        {{#tag}}
        <div class="tag_heading text-center">
          <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}" alt="{{name}}" title="{{name}}" class="tag-image" />
          <h1 class="text-center tag-title">{{name}}</h1>
          {{#if description}}<p class="tag-description">{{description}}</p>{{/if}}
        </div>
        {{/tag}}
      </div>
      {{/is}}

      {{#is "home"}}
        {{> 'post/card-featured'}}
      {{/is}}

        {{{body}}}

        <footer class="page-footer">
          {{> 'ui/footer'}}
        </footer>
    </div><!-- container fluid END! -->
  </main>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous"></script>
  <!-- JavaScript and dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Merriweather+Sans', 'Hind+Madurai', 'Roboto+Slab']
      }
    });
  </script>
  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
  </script>
  {{ghost_foot}}
</body>

</html>