{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row page-row">

      <div class="tag_head_wrap max-content-width">
        <div class="tag_heading text-center">
          <img src="{{asset "images/error-image.jpg"}}" alt="{{t "Error"}}" title="{{t "Error"}}" class="tag-image" />
          <h1 class="text-center tag-title">{{t "Error"}}</h1>
          <p class="card-text">
          <pre>{{statusCode}} — {{message}}</pre>
          {{t "This post/page doesn't exist anymore or has been made unavailable."}}</p>
          <div class="card-actions-bottom">
            <a class="post-options-url" href="/">{{t "Return to the homepage"}}</a>
          </div>    
        </div>
      </div>
</div>