{{#primary_author}}
<section class="author-profile">
<div class="row">
    <div class="col-sm-2 col-md-2">
        <img src="{{#if profile_image}}{{img_url profile_image}}{{else}}{{asset "images/fallback-user.jpg"}}{{/if}}" class="avatar" title="{{title}}" alt="Image of {{name}}"/> 
    </div>
    <div class="col-sm-10 author-bio-text">
      {{#if bio}}
        <h3>{{name}}</h3>
        {{bio}}
      {{else}}
        {{t "Whoops...that's not looking good. People have no idea who you are?!"}}
      {{/if}}
      <div class="row">
        {{#if twitter}}<a href="{{twitter_url}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>{{/if}}
        {{#if facebook}}<a href="{{facebook_url}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>{{/if}}
      </div>
    </div>
</div>
</section>
{{/primary_author}}